{% extends "main/_base.html" %}
{% load static %}

{% block content %}


        <div class="d-flex justify-content-center">
            <div class="panel mb-5 mt-5">
                <div id='register_heading' class="panel-heading text-center mb-2">Registration</div>
                <div class="panel-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                       
                        <button type="submit" class="btn btn-outline-success">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class='ml-2' href="{% url 'accounts:login' %}">Sign In</a>
            </small>
        </div>
    </div>


{% endblock content %}